html{
  background-color: #f5e3cd;
}
html,body{
	width:100%;height:100%;
	margin:0px;padding:0px;
  line-height: 28px;
  letter-spacing: 3px;
	font-size:17px;font-family:"Microsoft JhengHei",Arial,sans-serif;
  color: #000;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  line-height: 100px;
  color: #ffffff;
  font-size: 3em;
  font-weight: bold;
  background-color: #2d3e4e;
}

.container{
  width: 900px;
  height: 300px;
  position: absolute;
  top: 31%;
  left: 42%;
  margin: -150px 0 0 -300px;
}

footer {
  padding: 50px 0 65px;
  display: block;
}